# Server
PORT=8002
ALLOWED_ORIGINS=*
# Cantidad de Historial de mensajes por chat grupal
MAX_GROUP_MESSAGES=250
# Cantidad de Historial de mensajes por conversacion privada
MAX_DM_MESSAGES=250

# JWT
JWT_SECRET=change_this_for_production
JWT_ALGORITHM=HS256
JWT_EXP_SECONDS=3000

# Firebase
# Para pruebas
FIREBASE_ENABLED=false
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json

# Define la colecion que se usa
FIREBASE_MESSAGES_COLLECTION=chat_messages

# Opcional, no nesesario si se usa serviceAccountKey.json
# FIREBASE_PROJECT_ID=
